<div class="container-90">
  <%# Todo esto lo podríamos hacer más bonito con algún arreglo que le de el nombre al header, y las opciones de qué libros consultar. %>
  <%# Así no repetimos prácticamente lo mismo 4 veces %>
  <h2>Últimos Libros</h2>
  <div class="row">
    <% Book.all.last(5).each do |book| %>
      <div class="col-xs-4 col-md-2" style="padding: 0 !important;">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag('https://i.imgur.com/OOhmIDm.png', class: 'img-responsive') %>
          </div>
          <div class="panel-footer text-center">
            <div class="panel-footer-text">
              <%= book.title %>
            </div>
            <%#= book.author %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h2>Más Prestados</h2>
  <div class="row">
    <% Book.all.first(5).each do |book| %>
      <div class="col-xs-4 col-md-2" style="padding: 0 !important;">
        <div class="panel panel-default">
          <div class="panel-body">
            <%# Aquí sería la foto_irl del libro %>
            <%= image_tag('http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/book-icon.png', class: 'img-responsive') %>
          </div>
          <div class="panel-footer text-center">
            <div class="panel-footer-text">
              <%= book.title %>
            </div>
            <%#= book.author %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h2>Últimos Regresados</h2>
  <div class="row">
    <% Book.all.last(5).each do |book| %>
      <div class="col-xs-4 col-md-2" style="padding: 0 !important;">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag('https://i.imgur.com/OOhmIDm.png', class: 'img-responsive') %>
          </div>
          <div class="panel-footer text-center">
            <div class="panel-footer-text">
              <%= book.title %>
            </div>
            <%#= book.author %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h2>Recomendados</h2>
  <div class="row">
    <% Book.all.first(5).each do |book| %>
      <div class="col-xs-4 col-md-2" style="padding: 0 !important;">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= image_tag('http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/book-icon.png', class: 'img-responsive') %>
          </div>
          <div class="panel-footer text-center">
            <div class="panel-footer-text">
              <%= book.title %>
            </div>
            <%#= book.author %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>