<div class="card">
  <div class="content">
    <h2>修改个人信息</h2>
    <div class="user" style="margin-top: -10px !important;">
      <%= image_tag(current_user.avatar.url(:medium), alt: 'img-circle') %>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.label :头像 %>
        <label class="btn btn-default">
          选择文件
          <span style="display:none;">
            <%= f.input :avatar, as: :file %>
          </span>
        </label>
        <br> <br>
        <%= f.label :背景 %>
        <label class="btn btn-default" style="margin-left: 0.6%;">
          选择文件
          <span style="display:none;">
            <%= f.input :cover, as: :file %>
          </span>
        </label>
        <br> <br>
        <%= f.input :username, label: '用户名', required: true, autofocus: true %>
        <%= f.input :name, label: '昵称', required: true, autofocus: true %>
        <%= f.input :age, label: '年龄', autofocus: true %>
        <%= f.input :gender, label: '性别', autofocus: true %>
        <%= f.input :bio, label: '个人说明', autofocus: true %>
        <%= f.input :email, label: '邮箱', required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, label: '密码', autocomplete: "off", hint: "如果不想更改密码则不用填写", required: false %>
        <%= f.input :password_confirmation, label: '确认密码', required: false %>
        <%= f.input :current_password, label: '当前密码', hint: "需要当前密码保存修改", required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "更新" %>
      </div>
    <% end %>
    <br>
    <%= link_to "返回", :back %>
  </div>
</div>

<div class="card">
  <div class="content">
    <br>
    <h3>注销账户</h3>
    <p>不满意? <%= link_to "注销我的账户", registration_path(resource_name), data: { confirm: "你确定注销吗？" }, method: :delete %></p>
    <%= link_to "返回", :back %>
  </div>
</div>