<div style="
      width: 80%;
      margin-left: 10%;"
>
  <div class="card" style="
      width: 70%;
      margin-left: 10%;
      margin-top: 18%;"
  >
    <div class="content">
      <div class="container-90">
        <h2 class="text-center title">注册</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'login' }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.label :头像 %>
            <label class="btn btn-default">
              选择文件
              <span style="display:none;">
                <%= f.input :avatar, as: :file %>
              </span>
            </label>
            <br> <br>
            <%= f.label :背景 %>
            <label class="btn btn-default" style="margin-left: 0.6%;">
              选择文件
              <span style="display:none;">
                <%= f.input :cover, as: :file %>
              </span>
            </label>
            <br> <br>
            <%= f.input :username, label: '用户名', required: true, autofocus: true %>
            <%= f.input :email, label: '邮箱',required: true, autofocus: true %>
            <%= f.input :password, label: '密码',required: true, hint: ("最少#{@minimum_password_length}位" if @minimum_password_length) %>
            <%= f.input :password_confirmation, label: '确认密码', required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "注册" %>
          </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>