<div style="
      width: 80%;
      margin-left: 10%;"
>
  <div class="card" style="
      width: 70%;
      margin-left: 10%;
      margin-top: 18%;"
  >
    <div class="content">
      <div class="container-90">
        <h2 class="text-center title">Sign Up</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'login' }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.label :avatar %>
            <label class="btn btn-default">
              Add a file!
              <span style="display:none;">
                <%= f.input :avatar, as: :file %>
              </span>
            </label>
            <br> <br>
            <%= f.label :cover %>
            <label class="btn btn-default" style="margin-left: 0.6%;">
              Add a file!
              <span style="display:none;">
                <%= f.input :cover, as: :file %>
              </span>
            </label>
            <br> <br>
            <%= f.input :username, required: true, autofocus: true %>
            <%= f.input :email, required: true, autofocus: true %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
            <%= f.input :password_confirmation, required: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
          </div>
        <% end %>
        <br>
        <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>