<h1>正在聊天 <%= @conversation.with(current_user).name %></h1>

<div id="conversation-main">
  <div id="conversation-body">
    <%= render @conversation.personal_messages %>
  </div>

  <%= form_for @personal_message do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>
    <%= f.label :请输入 %>
    <%= f.text_area :body %>

    <%= f.submit :确定 %>
  <% end %>
</div>