<h1>按照</h1>
<br>

<% @following.each do |following| %>
  <div class="col-xs-12 col-md-4">
    <div class="card-container" style="width: 100%;">
      <div class="card">
        <div class="front">
          <div class="cover">
            <%= image_tag(following.cover.url(:medium), alt: 'img-circle') %>
          </div>
          <div class="user">
            <%= image_tag(following.avatar.url(:medium), alt: 'img-circle') %>
          </div>
          <div class="content text-center">
            <div class="main">
              <h3 class="name"><%= link_to following.name || '­ ', profile_path(following.username) %></h3>
              <p class="profession" style="margin-bottom: -0.1%;">@<%= link_to following.username || '', profile_path(following.username) %></p>
              <h5><%= fa_icon 'id-card', class: 'text-muted' %> <%= following.age || '' %>, <%= following.gender || '' %> </h5>
              <h5><%= fa_icon 'comment', class: 'text-muted' %> <%= following.bio %></h5>
              <%= link_to following.followers.count.to_s + ' 粉丝', followers_path(following.username) %> | <%= link_to following.following.count.to_s + ' 关注', following_path(following.username) %>
              <%#= render 'follow_form' if current_user %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>