<h1>你关注的动态</h1>

<div class="card" style="margin-top: 20px; padding-top: 20px;">
  <div class="content">
    <% @feed.each do |book| %>
      <div class="panel panel-default" style="margin: 3%;">
        <div class="panel-heading">
          <div class="round-image-50" style="display: inline-block;"><%= image_tag(book.user.avatar.url(:thumb)) %></div>
          <%= book.user.name %>
          @<%= book.user.username %>
        </div>
        <div class="panel-body" style="margin: 3%;">
          <div class="row">
            <div class="col-xs-2 col-md-4 text-center">
              <%= image_tag(book.cover.url(:thumb))  %>
            </div>
            <div class="col-xs-2 col-md-8">
              <h1 style="padding: 0; margin-top: 5%; margin-bottom: -3%; text-align: left;">
                <%= book.title %>
              </h1>

              <h2 style="padding: 0; color: #777; text-align: left;">
                <%= book.author %>
              </h2>

              <p style="margin-right: 20%;">
                <%= book.comment %>
              </p>

              <div class="btn btn-default" >
                <%= link_to 'Prestar', new_personal_message_path(receiver_id: book.user), :class => "btn" %>
              </div>
              
              <p>
                <%#= @book.availability %>
              </p>
            </div>
        </div>
      </div>
    </div>
    <% end %>
</div>