<p id="notice"><%= notice %></p>
<div class="container-80">
<div class="card" style="margin-top: 20px; padding-top: 20px;">
  <div class="content">
    <div class="row">
      <div class="col-xs-2 col-md-4 text-center">
        <%= image_tag(@book.cover.url(:thumb)) %>
      </div>
      <div class="col-xs-2 col-md-8">
        <h1 style="padding: 0; margin-top: 5%; margin-bottom: -3%; text-align: left;">
          <%= @book.title %>
        </h1>

        <h2 style="padding: 0; color: #777; text-align: left;">
          <%= @book.author %>
        </h2>

        <p style="margin-right: 20%;">
          <%= @book.comment %>
        </p>

        <%= link_to profile_path(@book.user.username) do %>
          <div class="round-image-50">
            <%= image_tag(@book.user.avatar.url(:thumb)) %>
          </div>
          <p style="margin-left: 1%;"><%= @book.user.username %></p>
        <% end %>
        <div class="btn btn-default" style="margin-top: -20%; margin-left: 10%;">
          <%= link_to 'Prestar', new_personal_message_path(receiver_id: @book.user), :class => "btn" %>
        </div>
        
        <p>
          <%#= @book.availability %>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2 col-md-4">

        
      </div>
    </div>
    <br>
      <%= link_to 'Edit', edit_book_path(@book) %> |
      <%= link_to 'Back', books_path %>
  </div>
</div>
</div>


