<!DOCTYPE html>
<html>
  <head>
    <title>Booklend</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/nav' %>
    <div class="container-80">
      <div class="container-fluid">
        <%= render 'layouts/messages' %>
        <div class="container-80">
          <%= yield %> 
        </div>
      </div>
    </div>
    <% if user_signed_in? %>
      <%= render 'application/menu' %>
    <% end %>
  </body>
</html>
